@charset "utf-8";
/* CSS Document */

.name, {
	line-height: 0;
}

.title{
	font-style:italic;
	font-size: 12px;
	line-height: 0;
	}
	
.quote {
	clear: both;
}

ul#contacts img{
	float: right;
	height: 150px;
	padding: 10px;
}

ul#contacts a {
	text-decoration: none;
	color: #000;
	line-height:0;}

ul#contacts a:hover{ color: #06F; }

div#main li{
	margin: 10px; padding: 10px;
	background-color: #CCC;
	width: 590px;
	}