@charset "utf-8";
/* CSS Document */

ul.top_nav ul{display:none}
ul.top_nav li:hover>ul{display:block}
ul.top_nav ul{position: absolute;left:-1px;top:98%;}
ul.top_nav ul ul{position: absolute;left:98%;top:-2px;}
ul.top_nav,ul.top_nav ul {
	width:640px;
	margin:0px;
	list-style:none;
	padding:4px 0px 4px 0px;
	background-color:#ffffff;
	background-repeat:repeat;
	border-bottom: 1px solid #252d61;
	border-top: 1px solid #252d61;
	line-height: 14px;
}
ul.top_nav{padding-left:160px}
ul.top_nav table {border-collapse:collapse}ul.top_nav {
	display:block;
	zoom:1;
	float: left;
}
ul.top_nav ul{
	width:130px;
	border: 1px solid #252d61;
}
ul.top_nav li{
	display:block;
	clear:none;
	margin:2px 10px 0px 2px;
}
ul.top_nav a:active, ul.top_nav a:focus {
outline-style:none;
}
ul.top_nav a, ul.top_nav li.dis a:hover, ul.top_nav li.sep a:hover {
	display:block;
	vertical-align:middle;
	background-color:#ffffff;
	border-width:0px;
	border-color:#6655ff;
	border-style:solid;
	text-align:left;
	text-decoration:none;
	padding:4px;
	_padding-left:0px;
	color: #252d61;
	text-decoration:none;
	cursor:default;
}
ul.top_nav span{
	overflow:hidden;
}
ul.top_nav li {
	float:left;
}
ul.top_nav ul li {
	float:none;
}
ul.top_nav ul a {
	text-align:left;
	white-space:nowrap;
}
ul.top_nav li.sep{
	text-align:center;
	padding:0px;
	line-height:0;
	height:100%;
}
ul.top_nav li.sep span{
	float:none;	padding-right:0;
	width:5;
	height:16;
	display:inline-block;
	background-color:#AAAAAA;
	background-image:none;
}
ul.top_nav ul li.sep span{
	width:80%;
	height:3;
}
ul.top_nav li:hover{
	position:relative;
}
ul.top_nav li:hover>a{
	background-color:#fff;
	border-color:#665500;
	border-style:solid;
	color: #6075f9;
	text-decoration:none;
}
ul.top_nav li a:hover{
	position:relative;
	background-color:#fff;
	border-color:#665500;
	border-style:solid;
	color: #6075f9;
	text-decoration:none;
}
ul.top_nav li.dis a {
	color: #AAAAAA !important;
}
ul.top_nav img {border: none;float:left;_float:none;margin-right:4px;width:16px;
height:16px;
}
ul.top_nav ul img {width:16px;
height:16px;
}
ul.top_nav img.over{display:none}
ul.top_nav li.dis a:hover img.over{display:none !important}
ul.top_nav li.dis a:hover img.def {display:inline !important}
ul.top_nav li:hover > a img.def  {display:none}
ul.top_nav li:hover > a img.over {display:inline}
ul.top_nav a:hover img.over,ul.top_nav a:hover ul img.def,ul.top_nav a:hover a:hover img.over{display:inline}
ul.top_nav a:hover img.def,ul.top_nav a:hover ul img.over,ul.top_nav a:hover a:hover img.def{display:none}
ul.top_nav a:hover ul{display:block}
ul.top_nav span{
	display:block;
	background-image:url(../images/arrv_anim_1.gif);
	background-position:right center;
	background-repeat: no-repeat;
   padding-right:11px;}
ul.top_nav li:hover>a>span{	background-image:url(../images/arrv_anim_1o.gif);
}
ul.top_nav a:hover span{	_background-image:url(../images/arrv_anim_1o.gif)}
ul.top_nav ul span,ul.top_nav a:hover table span{background-image:url(../images/arr_double_1.gif)}
ul.top_nav ul li:hover > a span{	background-image:url(../images/arr_double_1o.gif);}
ul.top_nav table a:hover span{background-image:url(../images/arr_double_1o.gif)}